.main-button {
  background-color: var(--color-orange);
  color: white;
  border-radius: 4px;
  font-size: var(--font-regular);
  cursor: pointer;
  transition: all var(--animation-duration) ease-in-out;
  margin: 0px 10px;
  padding: 5px 10px;
  font-weight: 500;
}

.main-button:hover {
  background-color: #ffffff;
  color: var(--color-deep-orange);
  transition: all var(--animation-duration) ease;
  transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
  .main-button {
    font-size: var(--font-small);
    padding: 12px 18px;
  }
}

@media screen and (max-width: 320px) {
  .main-button {
    font-size: var(--font-micro);
  }
}
