@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  padding: 12px;
  transition: all var(--anmation-duration) ease-in-out;
  z-index: 2;
}

.navbar__menu {
  display: flex;
  margin: 4px 0px;
}

.navbar__logo__title {
  display: inline-block;
  padding: 6px 12px;
  color: var(--color-black);
  font-size: var(--font-large);
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 10px;
  color: var(--color-black);
  border-radius: var(--size-border-radius);
  cursor: pointer;
  border: 1px solid transparent;
  font-size: var(--font-regular);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    /* display: none; */
  }
}
